<ion-view view-title="Words">

<!--
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="addPlaylist()"></button>
  </ion-nav-buttons>
-->
  <ion-content>


    <ion-list>
            <ion-item ng-repeat="item in items"  >
        
  <B>{{item.name}}</B>
      <h3> {{item.vertimas}}</h3>
    
 
        </ion-item>
    
<!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.$id}}">
        {{playlist.title}}
      </ion-item>
-->
    
    </ion-list>
  </ion-content>
</ion-view>
